<div class= "container">
    <div class="row justify-content-md-center">
        <div class="col">

        </div>
        <div class="col">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Iteration 1
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Iteration 2</a>
                  <a class="dropdown-item" href="#">Iteration 3</a>
                  <a class="dropdown-item" href="#">Iteration 4</a>
                </div>
              </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col">
            <div class="row justify-content-md-center">
                <div class="col">
                </div>
                <div class="row justify-content-md-center">
                    <div class="col"><p>Maturity Score</p></div>
                    <div class="col"><input type="number" class="form-control"></div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col">
            <div class="row justify-content-md-center">
                <div class="col">
                </div>
                <div class="row justify-content-md-center">
                    <div class="col"><p>Maturity Score</p></div>
                    <div class="col"><input type="number" class="form-control"></div>
                </div>
            </div>
        </div>
    </div>
    <div class= "container">
        <div class="row justify-content-md-center" >
            <div class="col border">
                <div class="row justify-content-md-center" >
                    <div class="col-7"><p>Productivity</p></div>
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
                <div class="row justify-content-md-center" >
                    <div class="col-7"></div>
                    <div class="col"><p>Prior</p></div>
                    <div class="col"><p>Current</p></div>
                </div>
                <div class="row justify-content-md-center" >
                    <div class="col-7"><p>Velocity (Accepted)</p></div>
                    <div class="col"><input type="number" class="form-control"></div>
                    <div class="col"><input type="number" class="form-control"></div>
                </div>
                <div class="row justify-content-md-center" >
                    <div class="col-7"><p>Backlog Size (SPs)</p></div>
                    <div class="col"><input type="number" class="form-control"></div>
                    <div class="col"><input type="number" class="form-control"></div>
                </div>
                <div class="row justify-content-md-center" >
                    <div class="col-7"><p>Backlog Completed</p></div>
                    <div class="col"><input type="number" class="form-control"></div>
                    <div class="col"><input type="number" class="form-control"></div>
                </div>
                <div class="row justify-content-md-center" >
                    <div class="col-7"><p>PI Objectives Complete %</p></div>
                    <div class="col"><input type="number" class="form-control"></div>
                    <div class="col"><input type="number" class="form-control"></div>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col border">
                <div class="row justify-content-md-center" >
                    <div class="col-7"><p>Productivity</p></div>
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
                <div class="row justify-content-md-center" >
                    <div class="col-7"></div>
                    <div class="col"><p>Prior</p></div>
                    <div class="col"><p>Current</p></div>
                </div>
                <div class="row justify-content-md-center" >
                    <div class="col-7"><p>Achieved Velocity %</p></div>
                    <div class="col"><input type="number" class="form-control"></div>
                    <div class="col"><input type="number" class="form-control"></div>
                </div>
                <div class="row justify-content-md-center" >
                    <div class="col-7"><p>Ref. Story Readiness</p></div>
                    <div class="col"><input type="number" class="form-control"></div>
                    <div class="col"><input type="number" class="form-control"></div>
                </div>
                <div class="row justify-content-md-center" >
                    <div class="col-7"></div>
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
                <div class="row justify-content-md-center" >
                    <div class="col-7"></div>
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col">
            <div class="row justify-content-md-center">
                <div class="col"></div>
                <div class="row justify-content-md-center">
                    <div class="col"><p>Maturity Score</p></div>
                    <div class="col"><input type="number" class="form-control"></div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col">
            <div class="row justify-content-md-center">
                <div class="col"></div>
                <div class="row justify-content-md-center">
                    <div class="col"><p>Maturity Score</p></div>
                    <div class="col"><input type="number" class="form-control"></div>
                </div>
            </div>
        </div>
    </div>
    <div class= "container">
        <div class="row justify-content-md-center" >
            <div class="col border">
                <div class="row justify-content-md-center" >
                    <div class="col-7"><p>Productivity</p></div>
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
                <div class="row justify-content-md-center" >
                    <div class="col-7"></div>
                    <div class="col"><p>Prior</p></div>
                    <div class="col"><p>Current</p></div>
                </div>
                <div class="row justify-content-md-center" >
                    <div class="col-7"><p>Bugs Added in Sprint</p></div>
                    <div class="col"><input type="number" class="form-control"></div>
                    <div class="col"><input type="number" class="form-control"></div>
                </div>
                <div class="row justify-content-md-center" >
                    <div class="col-7"><p>Open Defects</p></div>
                    <div class="col"><input type="number" class="form-control"></div>
                    <div class="col"><input type="number" class="form-control"></div>
                </div>
                <div class="row justify-content-md-center" >
                    <div class="col-7"></div>
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col border">
                <div class="row justify-content-md-center" >
                    <div class="col-7"><p>Productivity</p></div>
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
                <div class="row justify-content-md-center" >
                    <div class="col-7"></div>
                    <div class="col"><p>Prior</p></div>
                    <div class="col"><p>Current</p></div>
                </div>
                <div class="row justify-content-md-center" >
                    <div class="col-7"><p>Team Happiness</p></div>
                    <div class="col"><input type="number" class="form-control"></div>
                    <div class="col"><input type="number" class="form-control"></div>
                </div>
                <div class="row justify-content-md-center" >
                    <div class="col-7"><p>CI Backlog</p></div>
                    <div class="col"><input type="number" class="form-control"></div>
                    <div class="col"><input type="number" class="form-control"></div>
                </div>
                <div class="row justify-content-md-center" >
                    <div class="col-7"><p>CI Backlog Implemented</p></div>
                    <div class="col"><input type="number" class="form-control"></div>
                    <div class="col"><input type="number" class="form-control"></div>
                </div>
            </div>
        </div>
    </div>
</div> 