<div class="center">
    <div id="password_recovery">
        <h1>Forgot Password</h1>
        <p>Enter your email address and we'll send you a link to reset your password</p>
        <br> <br>

        <form [formGroup]="recoverPasswordForm">
            <label>Email address: <br>
                <input type="text" id="email" formControlName="email" required>
            </label>
            <br> <br>
            <!-- <button type="submit">Submit</button> -->
            <button (click)="onSubmit()">Submit</button>
        </form>
        <a [routerLink]="['/login']" routerLinkActive="router-link-active" id="left">Back to Log In</a>
        <a [routerLink]="['/register']" routerLinkActive="router-link-active" id="right">Register</a>
    </div>
</div>