<div class="container">
    <div class="row board">
        <div class="col-md-3">
            <div>
                <h2>{{Art.artName}}</h2>
                <br>
                <div *ngFor='let user of allMembers'>
                    <h4>{{user.role}} | {{user.username}}</h4>
                </div>
            </div>
        </div>

        <!-- <div class="col-md-1 vl"></div> -->

        <div class="col-md-9 vl">
            <div >
                <div class="row bottom">
                    <div class="col-md-3 graph" *ngFor='let data of Art.artData'>
                        <canvas baseChart
                            height="250" width="225"
                            [datasets]="data.dataSet"
                            [labels]="data.labels"
                            [options]="ChartOptions"
                            [legend]= true
                            [chartType]="data.type">
                        </canvas>
                    </div>
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-2">
                        <div class="row metrics info" style="border-color: rgb(22, 94, 177);"><p style="margin: auto;">{{PI}}</p></div>
                        <div class="row metrics"><p style="color: rgb(22, 94, 177);">PI Objectives Complete</p></div>
                        <div class="row metrics info" style="border-color: firebrick;"><p style="margin: auto;">{{defects}}</p></div>
                        <div class="row metrics"><p style="margin: auto; color: firebrick">Open defects</p></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>