.container {
  }

  .metrics {
    height: 62.5px;
    /* width: 100px; */
  }


  .board {
    /* border-style: solid; */
    border-width: 3px;
    max-height: 300px;
  }

  .vl {
    border-left: 2px solid black;
  }

  .bottom {
    min-height: 300px;
  }

  .info {
    /* display: table-cell;
    vertical-align: middle; */
    border: solid;
    width: 50px;
    height: 50px;
    padding-top: 7px;
    text-align: center;
    margin: auto
  }

  
  .graph {
    /* border: solid black 1px;
    margin: 0px;
    padding: 0px; */
  }