
<div>

  <ngb-carousel class="outter" id="ARTS">
    <ng-template ngbSlide *ngFor='let art of Art; index as i'>
      <div id="ART{{i}}">
        <app-art-template
          [Art]="art"

          [chartlabels1]="ArtLabels1"
          [chartdata1]="ArtData1"
          [charttype1]="ArtChart1"
          
          [chartlabels2]="ArtLabels2"
          [chartdata2]="ArtData2"
          [charttype2]="ArtChart2"

          [chartlabels3]="ArtLabels3"
          [chartdata3]="ArtData3"
          [charttype3]="ArtChart3">
        </app-art-template>
      </div>
    </ng-template>
  </ngb-carousel>

  <div class="seperate"></div>

  <ngb-carousel class="inner" id="Teams">
    <ng-template ngbSlide *ngFor='let team of teammembers; index as i'>
      <div id="Team{{i}}">
        <app-team-template
          [TeamMembers]="team"

          [chartlabels1]="TeamLabels1"
          [chartdata1]="TeamData1"
          [charttype1]="TeamChart1"
          
          [chartlabels2]="TeamLabels2"
          [chartdata2]="TeamData2"
          [charttype2]="TeamChart2"

          [chartlabels3]="TeamLabels3"
          [chartdata3]="TeamData3"
          [charttype3]="TeamChart3"

          [chartlabels4]="TeamLabels4"
          [chartdata4]="TeamData4"
          [charttype4]="TeamChart4">
        </app-team-template>
      </div>
    </ng-template>
  </ngb-carousel>

</div>
