
<div *ngIf="initialized">

  <ngb-carousel class="outter" id="ARTS" data-interval="8000" (slide)="onSlide($event)" data-ride="carousel">
    <ng-template ngbSlide id="{{art.artId}}" *ngFor="let art of Art; index as i" data-ride="carousel">
        <app-art-template
          [Art]="art" >
        </app-art-template>
    </ng-template>
  </ngb-carousel>

  <div class="seperate"></div>

  <ngb-carousel class="inner" id="{{artTeams.artName}}" *ngFor="let artTeams of Art; index as j" data-interval="4000" style="visibility: hidden;" data-ride="carousel">
    <ng-template ngbSlide id="{{team.teamName}}" *ngFor="let team of artTeams.artTeams; index as k" data-ride="carousel">
        <app-team-template
          [team]="team" >
        </app-team-template>
    </ng-template>
  </ngb-carousel>

</div>
