<app-barchart></app-barchart>
<app-piechart></app-piechart>

<!--<div class="table-responsive table-container" style="padding-top: 100px;">  
    <table class="table table-dark table-hover table-striped">  
      <thead class="thead-light">  
        <tr>  
          <th>PersonID</th>  
          <th>LastName</th> 
          <th>FirstName</th> 
          <th>City</th>
          <th>State</th> 
        </tr>  
      </thead>  
      <tbody>
            
        <tr *ngFor="let customer of customers"> 
          <td>{{customer.PersonID}}</td>  
          <td>{{customer.LastName}}</td>
          <td>{{customer.FirstName}}</td> 
          <td>{{customer.City}}</td> 
          <td>{{customer.State}}</td> 

        </tr>
      </tbody>
    </table>
</div>-->
    