<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>{{Team.teamName}} Home Page</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Team Scrum Master</h3>
        </div>
        <div class="col-md-4">
            <h3>{{TSM}}</h3>
        </div>
        <div class="col-md-4">
            <h3>Team Working Agreement</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Product Owner</h3>
        </div>
        <div class="col-md-4">
            <h3>{{PO}}</h3>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Release Train Enginer</h3>
        </div>
        <div class="col-md-4">
            <h3>{{RTE}}</h3>
        </div>
        <div class="col-md-4"></div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-xs-12">
            <h3>{{Team.teamName}} Team</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>
        </div>
    </div>
</div>

