
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <ul class="navbar-nav">
      <li ngbDropdown class="nav-item">
        <a href (click)="false" class="nav-link" ngbDropdownToggle>Home</a>
        <div ngbDropdownMenu>
            <button ngbDropdownItem routerLink="/login" routerLinkActive="active">Login</button>
            <button ngbDropdownItem routerLink="/register" routerLinkActive="active">Register</button>
            <button ngbDropdownItem routerLink="/password-recovery" routerLinkActive="active">Password Recovery</button>
          </div>
      </li>
      <li ngbDropdown class="nav-item">
        <a href (click)="false" class="nav-link" ngbDropdownToggle>Admin</a>
        <div ngbDropdownMenu>
            <button ngbDropdownItem routerLink="/art-management" routerLinkActive="active">ART Management</button>
            <button ngbDropdownItem routerLink="/team-management" routerLinkActive="active">Team Management</button>
            <button ngbDropdownItem routerLink="/milestones-alerts" routerLinkActive="active">Milestones and Alerts</button>
          </div>
      </li>
      <li ngbDropdown class="nav-item">
        <a href (click)="false" class="nav-link" ngbDropdownToggle>Team</a>
        <div ngbDropdownMenu>
            <button ngbDropdownItem routerLink="/team-homepage" routerLinkActive="active">Team Homepage</button>
            <button ngbDropdownItem routerLink="/data-entry" routerLinkActive="active">Metrics Data Entry</button>
            <button ngbDropdownItem routerLink="/dashboard-preview" routerLinkActive="active">Dashboard Preview</button>
          </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/display-mode" routerLinkActive="active">Dashboard Display Mode</a>
      </li>
    </ul>

    <div class="title">Agile Program Management Dashboard</div>
</nav>