<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1> Sprintellectuals Team Dashboard Preview</h1>
        </div>
    </div>
    <br><br><br>
    <div class="row board">
        <div class="col-md-3">
            <div>
                <h2>Sprintellectuals</h2>
                <br>
                <h4>SM | Speedy McSpeederson</h4>
                <h4>PO | Smartha Knowlegeberry</h4>
                <h4>TL | Rick Grimes</h4>
                <h4>TM | Carl Grimes</h4>
                <h4>TM | Daryl Dixon</h4>
                <h4>TM | Glenn Rhee</h4>
            </div>
        </div>

        <!-- <div class="col-md-1 vl"></div> -->

        <div class="col-md-9 vl">
            <div >
                <div class="row top">
                    <div class="col-md-4">
                        <canvas baseChart
                            height="250" width="250"
                            [datasets]="lineChartData1"
                            [labels]="lineChartLabels1"
                            [options]="lineChartOptions1"
                            [legend]="lineChartLegend1"
                            [chartType]="lineChartType1">
                        </canvas>
                    </div>
                    <div class="col-md-8">
                        <p>the data glyphs</p>
                    </div>
                </div>
                <div class="row bottom">
                    <div class="col-md-4">
                        <canvas baseChart
                            height="250" width="250"
                            [datasets]="lineChartData2"
                            [labels]="lineChartLabels2"
                            [options]="lineChartOptions2"
                            [legend]="lineChartLegend2"
                            [chartType]="lineChartType2">
                        </canvas>
                    </div>
                    <div class="col-md-4">
                        <canvas baseChart
                            height="250" width="250"
                            [datasets]="barChartData"
                            [labels]="barChartLabels"
                            [options]="barChartOptions"
                            [legend]="barChartLegend"
                            [chartType]="barChartType">
                        </canvas>
                    </div>
                    <div class="col-md-4">
                        <canvas baseChart
                            height="250" width="250"
                            [data]="pieChartData"
                            [labels]="pieChartLabels"
                            [chartType]="pieChartType"></canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>