<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1> Sprintellectuals Team Dashboard Preview</h1>
        </div>
    </div>
    <br><br><br>
    <div class="row board">
        <div class="col-md-3 vl">
            <div>
                <h2>Sprintellectuals</h2>
                <br>
                <h4>SM | Speedy McSpeederson</h4>
                <h4>PO | Smartha Knowlegeberry</h4>
                <h4>TL | Rick Grimes</h4>
                <h4>TM | Carl Grimes</h4>
                <h4>TM | Daryl Dixon</h4>
                <h4>TM | Glenn Rhee</h4>
            </div>
        </div>

        <!-- <div class="col-md-1 vl"></div> -->

        <div class="col-md-9">
            <div >
                <div class="row top">
                    <div class="col-md-4">
                        <p>line graph</p>
                    </div>
                    <div class="col-md-8">
                        <p>the data glyphs</p>
                    </div>
                </div>
                <div class="row bottom">
                    <div class="col-md-4">
                        <p>line graph</p>
                    </div>
                    <div class="col-md-4">
                        <p>bar graph</p>
                    </div>
                    <div class="col-md-4">
                        <p>pie graph</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<app-barchart></app-barchart>
<app-piechart></app-piechart>
