<div class="container">
    <div class="row board">
        <div class="col-md-3">
            <div>
                <h2 style="overflow-wrap: normal;">{{team.teamName}}</h2>
                <br>
                <div *ngFor='let user of allMembers'>
                    <h4>{{user.role}} | {{user.username}}</h4>
                </div>
            </div>
        </div>

        <!-- <div class="col-md-1 vl"></div> -->

        <div class="col-md-9 vl">
            <div >
                <div class="row top">
                    <div class="col-md-4">
                        <canvas baseChart
                            height="250" width="250"
                            [datasets]="ChartData1"
                            [labels]="ChartLabels1"
                            [options]="ChartOptions"
                            [legend]= true
                            [chartType]= "ChartType1">
                        </canvas>
                    </div>
                    <div class="col-md-2 info">
                        <div class="row metrics"></div>
                        <div class="row metrics boxes" style="border-color: rgb(22, 94, 177);"><p style="margin: auto;">{{PI}}</p></div>
                        <div class="row metrics"><p style="text-align: center; color: rgb(22, 94, 177);">PI Objectives Complete</p></div>
                        <div class="row metrics"></div>
                    </div>
                    <div class="col-md-2 info">
                        <div class="row metrics"></div>
                        <div class="row metrics boxes" style="border-color: firebrick;"><p style="margin: auto;">{{defects}}</p></div>
                        <div class="row metrics"><p style="margin: auto; margin-top: 0; color: firebrick;">Open Defects</p></div>
                        <div class="row metrics"></div>
                    </div>
                    <div class="col-md-2 info">
                        <div class="row metrics"></div>
                        <div class="row metrics boxes" style="border-color: seagreen;"><p style="margin: auto;">{{velocity}}</p></div>
                        <div class="row metrics"><p style="margin: auto; margin-top: 0; color: seagreen;">Avg. Velocity</p></div>
                        <div class="row metrics"></div>
                    </div>
                    <div class="col-md-2 info">
                        <div class="row metrics"></div>
                        <div class="row metrics boxes"><p style="margin: auto;">{{happiness}}</p></div>
                        <div class="row metrics"><p style="margin: auto; margin-top: 0;">Team Happiness</p></div>
                        <div class="row metrics"></div>
                    </div>
                </div>
                <div class="row bottom">
                    <div class="col-md-4">
                        <canvas baseChart
                            height="250" width="250"
                            [datasets]="ChartData2"
                            [labels]="ChartLabels2"
                            [options]="ChartOptions"
                            [legend]= true
                            [chartType]="ChartType2">
                        </canvas>
                    </div>
                    <div class="col-md-4">
                        <canvas baseChart
                            height="250" width="250"
                            [datasets]="ChartData3"
                            [labels]="ChartLabels3"
                            [options]="ChartOptions"
                            [legend]= true
                            [chartType]="ChartType3">
                        </canvas>
                    </div>
                    <div class="col-md-4">
                        <canvas baseChart
                            height="250" width="250"
                            [datasets]="ChartData4"
                            [labels]="ChartLabels4"
                            [options]="ChartOptions"
                            [legend]= true
                            [chartType]="ChartType4">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>